/* .slider-page{
   width: 110vw;
   display: flex;
   align-items: center;
   justify-content: center;
  
}
.slider-content{
   background-color:grey; 
   max-width: 100vw;
   margin-top: 20px; 


}
.slider-content .contents {

}  */